<h3 dir="ltr">Ley de competitividad en la operatoria de tus cuentas.</h3>

<p dir="ltr">Todos los movimientos registrados en la cuenta corriente están alcanzados a la alícuota del 0,60 % (ó 6 por mil) excepto los detallados a continuación:</p>

<div dir="ltr">•<span style="white-space:pre"> </span>Los créditos en concepto de sueldos, jubilaciones o pensiones, así como los débitos originados en la extracción de dichos fondos;</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los débitos originados por el propio impuesto;</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los créditos originados en préstamos bancarios u otras operaciones de crédito.</div>

<p dir="ltr">Conforme la RG (AFIP) 2111 (modificada por la RG 3900) algunas cuentas corrientes pueden gozar del beneficio de reducción de alícuota o exención en el impuesto.  Este beneficio debe ser gestionado ante la Administración Federal de Ingresos Públicos (AFIP) por el mismo contribuyente.</p>

<div dir="ltr">Operaciones frecuentes que están alcanzadas con la alícuota del 1,2% (12 por mil) siempre y cuando las mismas <strong>no sean canalizadas a través de una cuenta corriente:</strong></div>

<div dir="ltr"> </div>

<div dir="ltr">•<span style="white-space:pre"> </span>Rendición de gestiones de cobro (cheques, certificados de plazo fijo u otros valores).</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Rendición de recaudaciones.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Giros y transferencia ordenados.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Pagos efectuados por cuenta y/o a nombre de terceros.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Pagos a comercios adheridos a los sistemas de tarjetas de crédito.</div>

<p dir="ltr">Cómputo del impuesto como pago a cuenta de otros impuestos: </p>

<div dir="ltr">Conforme el Decreto 409/2018, las percepciones efectuadas en concepto de Impuesto Ley de Competitividad (sobre créditos y débitos bancarios) podrán ser computadas como pago a cuenta del Impuesto a las Ganancias y/o Impuesto a la Ganancias Mínima presunta según corresponda:</div>

<div dir="ltr"><br />
•<span style="white-space:pre"> </span>33% de los importes ingresados por débitos y créditos para los movimientos gravados con alícuota general 0,60 % (6 x mil.)</div>

<div dir="ltr">•<span style="white-space:pre"> </span>20% de los importes ingresados por débitos y créditos para los movimientos gravados con alícuota menor a la general (reducida).</div>

<div dir="ltr">•<span style="white-space:pre"> </span>El computo es retroactivo al 01/01/2018. </div>

<p dir="ltr">Le recordamos que, en su extracto de cuenta corriente mensual, se exponen las percepciones del impuesto en forma diaria, discriminando el Impuesto sobre los Débitos y el Impuesto sobre los Créditos, y se incluye el total debitado en el mes en concepto de dicho impuesto. Asimismo, tiene a su disposición nuestro Extracto detallado del Impuesto al Crédito y Débito, el cual detalla todos los movimientos que dieron origen al débito del impuesto y/o los ajustes que correspondieron para cada período.</p>

<div dir="ltr"><strong>Cajas de ahorros:</strong> Los débitos y créditos en estas cuentas no se encuentran gravados, excepto que deriven de las operaciones arriba mencionadas (Ej.: Depósito de cheques de otros bancos).</div>

<div dir="ltr"><br />
<strong>Plazo fijo:</strong> La constitución, renovación o cancelación de plazo fijo no está alcanzada por el impuesto, en la medida que el movimiento de fondos no se realice a través de una cuenta corriente del titular. Para más información hacé click aquí</div>

<div dir="ltr"> </div>

<div dir="ltr"><br />
<strong>Régimen de Recaudación de Ingresos Brutos sobre créditos Bancarios:</strong></div>

<div dir="ltr"><br />
El régimen de recaudación sobre acreditaciones bancarias grava las acreditaciones en cuenta de los sujetos nominados en los padrones previstos por las Distintas Direcciones de Rentas (Provinciales), con excepción de los siguientes conceptos:<br />
 </div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los importes que se acrediten en concepto de remuneraciones al personal en relación de dependencia, jubilaciones, pensiones, incluso pensiones no contributivas, seguros de desempleo y los préstamos, de cualquier naturaleza, otorgados por la misma entidad obligada a actuar como agente de recaudación.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Las transferencias de fondos que se efectúen por cualquier medio, excepto mediante el uso de cheques, con destino a otras cuentas abiertas a nombre de idéntico o idénticos titulares. Asimismo, en aquellos supuestos en los cuales la cuenta de destino posea cotitular o cotitulares que no revistan tal carácter respecto de la cuenta de origen, no se practicará la retención en tanto estos últimos sujetos se encuentren comprendidos en cualquiera de los supuestos de exclusión aplicables al presente régimen especial de retención. </div>

<div dir="ltr">•<span style="white-space:pre"> </span>Contraasiento por error.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Acreditaciones efectuadas como consecuencia de la transformación a pesos de todos los depósitos en dólares estadounidenses u otras monedas extranjeras existentes en el sistema financiero (pesificación de depósitos).</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los importes que se acrediten en concepto de intereses devengados con relación al saldo de la propia cuenta y los que constituyan devolución del Impuesto al Valor Agregado.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los importes que se acrediten como consecuencia de las operaciones de exportación.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Acreditaciones efectuadas en las cuentas utilizadas en forma exclusiva en el desarrollo específico de su actividad, por las empresas dedicadas al servicio electrónico de pagos y/o cobranzas por cuenta y orden de terceros, de facturas de servicios públicos, impuestos y otros servicios, como así también las utilizadas en igual forma por los agentes oficiales de dichas empresas.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los créditos provenientes de la acreditación de plazo fijo, constituido por el titular de la cuenta, siempre que el mismo se haya constituido con fondos previamente acreditados en cuentas a nombre del mismo titular.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>El ajuste llevado a cabo por las entidades financieras, a fin de poder realizar el cierre de las cuentas bancarias que presenten saldos deudores en mora.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Las acreditaciones provenientes de los rescates de fondos comunes de inversión, constituidos por el titular de la cuenta, siempre que los mismos se hayan constituido con fondos previamente acreditados en cuentas a nombre del mismo titular.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los importes que se acrediten en concepto de becas, subsidios, planes y beneficios de tipo social otorgados por el gobierno nacional, provincial o municipal, tales como los correspondientes a los programas "Tarjeta de Alimentos", "Tarjeta Derecho Garantizado para la Niñez", "Tarjeta Barrios Bonaerenses", "Proyecto Adolescente", "Plan Jefes y Jefas de Hogar", "Plan Familias", "Monotributo Social" y otros de similar naturaleza.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Las acreditaciones efectuadas por compañías de seguro, por pagos de seguros sobre bienes y de vida.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Acreditaciones en cuentas abiertas por mandato judicial, con independencia de la persona que resulte autorizada a percibir.</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los importes que se acrediten en concepto de devoluciones por promoción de tarjetas de crédito, compra y débito."</div>

<div dir="ltr">•<span style="white-space:pre"> </span>Los importes que se acrediten como consecuencia de operaciones sobre títulos, letras, bonos, obligaciones y demás papeles emitidos y que se emitan en el futuro por la Nación, las Provincias, la Ciudad Autónoma de Buenos Aires y las Municipalidades, como así también aquellos que correspondan a las rentas producidas por los mismos y/o a los ajustes de estabilización o corrección monetaria.<br />
 </div>

<div dir="ltr">Las exclusiones enumeradas son las más comunes entre las distintas Provincias, pudiendo variar conforme al Código Fiscal de cada una de ellas.</div>

<div dir="ltr"> </div>

<div dir="ltr">Para mayor información sobre este tema, ¡comunícate con Centro Hola!  llamando al 0810-444-4652 (HOLA) o desde tu celular marcando *4652 (HOLA) de lunes a viernes de 8 a 20 horas.</div>
