<p dir="ltr"><strong>Gerenciamiento de Riesgos</strong></p>

<p dir="ltr">En Abril de 2008 el Banco Central de la República Argentina (B.C.R.A.) ha emitido la Com. A 4793 estableciendo los lineamientos para la gestión del riesgo operacional en las entidades financieras definiendo el concepto de riesgo operacional, las etapas, las responsabilidades y la estructura necesaria para la gestión del mismo.</p>

<p dir="ltr">Industrial and Commercial Bank of China (Argentina) S.A.U. define al riesgo operacional como a las pérdidas resultantes de la falta de adecuación o fallas en los procesos internos, las personas o los sistemas o por eventos externos.</p>

<p dir="ltr">Este riesgo incluye los vinculados con la ejecución de procesos, los recursos humanos, el procesamiento, tecnología y sistemas y fraudes asignados o involucrados en función a lo establecido por el Comité de Supervisión Bancaria de Basilea (Basilea II).</p>

<p dir="ltr">Industrial and Commercial Bank of China (Argentina) S.A.U.&nbsp;cuenta con programas documentados para efectuar la identificación, medición, monitoreo y control de los riesgos definidos estableciendo roles y responsabilidades tendientes a lograr una adecuada comprensión y cuantificación de los mismos y para mantener un fuerte ambiente de control interno que asegure la integridad de los procesos.</p>
