<p dir="ltr"><strong>Declaración&nbsp;FATCA de Industrial aand&nbsp;Commercial Bank of China (Argentina) S.A.U.</strong></p>

<p dir="ltr">FATCA es el Acta de Cumplimiento para las Cuentas en el Extranjero ( Foreign Account Tax Compliance Act, “FATCA”), sancionada por los Estados Unidos el 18 de Marzo de 2010 y cuya reglamentación final fue publicada por le Tesoro Americano el 17 de Enero de 2013.<br />
A través de la Ley FATCA, el Gobierno de los Estados Unidos invita a las entidades financieras de todo el mundo (incluidas las latinoamericanas) a colaborar con sus esfuerzos para combatir la evasión fiscal de los contribuyentes norteamericanos en el exterior. La Ley FATCA comienza a regir el 1 de Julio de 2014.<br />
De acuerdo con la Ley FATCA, se requiere a las entidades bancarias reportar, anualmente, ciertas cuentas que contribuyentes estadounidenses mantienen fuera de los Estados Unidos. Estos reportes serán puestos a disposición del “Internal Revenue Service”. (“IRS”) el organismo de aplicación de la citada ley.<br />
Por su parte Industrial and Commercial Bank of China (Argentina) S.A.U. (“ICBC”) tiene políticas claras y precisas en el sentido de no asesorar, ni favorecer, ni amparar operativas de sus clientes tendientes a evadir el pago de sus impuestos.<br />
ICBC, apoya los objetivos generales de FACTA en cuanto a prevenir la evasión tributaria y promover la transparencia financiera.<br />
Es por ello que ICBC ha suscripto, con fecha 23 de junio de 2014, el acuerdo con FATCA &nbsp;bajo el GIIN &nbsp;&nbsp;IPP3CT.00000.LE.032.<br />
Cabe mencionar que una declaración falsa puede ser pasible de penas en virtud de las leyes de los Estados Unidos.</p>

<p dir="ltr">Podrá encontrar mayor información sobre el FATCA en el sitio web del IRS.</p>
