<p dir="ltr"><strong>Tasas de Referencia del BCRA.</strong><br />
En porcentaje nominal anual.</p>

<table border="1" dir="ltr" style="width: 500px; table-layout: fixed; word-wrap: break-word;">
	<tbody>
		<tr>
			<td style="width: 250px;">Para depósitos en pesos</td>
			<td style="width: 250px; text-align: center;">112.71</td>
		</tr>
		<tr>
			<td style="width: 250px;">Para depósitos de Unidades de Valor&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br />
			Adquisitivo actualizable por “CER” - Ley<br />
			25.827 (UVA) y de Unidades de Vivienda<br />
			actualizable por “ICC” - Ley 27.271 (UVI)</td>
			<td style="width: 250px; text-align: center;">0.27</td>
		</tr>
		<tr>
			<td style="width: 250px;">Para depósitos en dólares</td>
			<td style="width: 250px; text-align: center;">0.33</td>
		</tr>
		<tr>
			<td style="width: 250px;">Tasa fija de precancelación para depósitos con opción de cancelación anticipada en Unidades de Valor Adquisitivo actualizables por “CER</td>
			<td style="width: 250px; text-align: center;">122,80</td>
		</tr>
	</tbody>
</table>

<p dir="ltr"><span style="font-size:10px;">Toda la información disponible puede ser consultada accediendo a: <a href="http://www.bcra.gob.ar/" target="_blank" >www.bcra.gob.ar</a> | Publicaciones y Estadísticas | Estadísticas | Monetarias y Financieras | Cuadros estandarizados de series estadísticas | Tasas de interés | Tasas de interés y coeficientes de ajuste establecidos por el BCRA</span></p>
