<p dir="ltr"> </p>

<p dir="ltr"><strong>Defensa del Consumidor</strong></p>

<p dir="ltr">Dirección General de Defensa y Protección al Consumidor. Para consultas y/o denuncias <a href="http://defensadelconsumidor.buenosaires.gov.ar/" title="ingrese aquí" target="_blank" >ingrese aquí</a>.</p>

<p dir="ltr"><strong>Ley 2697</strong></p>

<p dir="ltr"><strong>Artículo 1°.- </strong>Establézcase la obligación a las Compañías de Telefonía Móvil, medicina prepaga, servicios de televisión por cable y/o internet que brindan servicios en la Ciudad Autónoma de Buenos Aires, de entregar un certificado de baja del mismo.</p>

<p dir="ltr"><strong>Artículo 2°.- </strong>Este certificado de baja del servicio deberá entregarse dentro de las 72 horas posteriores a la recepción del pedido de rescisión de la fecha de solicitud de la baja del servicio, a solicitud del interesado.</p>

<p dir="ltr"><strong>Artículo 3°.-</strong> El régimen procedimental aplicable es el establecido en la Ley N° 757 - Procedimiento Administrativo para la Defensa del Consumidor y del Usuario - (B.O.C.B.A. N° 1432).</p>

<p dir="ltr"><strong>Art. 10 ter Ley 26631</strong></p>

<p dir="ltr"><strong>Modos de rescisión: </strong>Cuando la contratación de un servicio, incluidos los servicios públicos domiciliarios, haya sido realizada en forma telefónica, electrónica o similar, podrá ser rescindida a elección del consumidor o usuario mediante el mismo medio utilizado en la contratación. La empresa receptora del pedido de rescisión del servicio deberá enviar sin cargo al domicilio del consumidor o usuario una constancia fehaciente dentro de las 72 (setenta y dos) horas posteriores al pedido de rescisión. Esta disposición debe ser publicada en la factura o documento equivalente que la empresa enviare regularmente al domicilio del consumidor o usuario.<br />
 </p>
