<p dir="ltr"><strong>Agente Institorio</strong></p>

<p dir="ltr">Industrial and commercial Bank of China (Argentina) S.A.U. &nbsp;actúa como Agente Institorio y se encuentra inscripto bajo el N°127.&nbsp;</p>

<p dir="ltr"><br />
<strong>La Meridional Compañía de Seguros S.A.&nbsp;</strong><br />
Domicilio legal Tte. Gral Juan Domingo Perón 646, 4° Piso C.P:1038 C.A.B.A Cuit:30-50005116-3 Nro de Inscripción en SSN 0244.<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención telefónica: 4909-7450.<br />
Por correo electrónico a la casilla contacto@meridionalseguros.com.ar o desde su pág. Web <a href="https://www.meridionalseguros.com.ar/" >https://www.meridionalseguros.com.ar</a></p>

<p dir="ltr"><br />
<strong>SMG-LIFE Compañía de seguros de Vida S.A. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong><br />
Domicilio legal: Arenales 1826 3° piso. CP: 1124 C.A.B.A. CUIT: 30-68584340-0. Nro. de inscripción en SSN 0580.&nbsp;<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: 0810-222-7645.<br />
Por correo electrónico a la casilla clientes@smg-lfe.com.ar .com.ar o desde su pág. Web <a href="https:///" >https://</a> <a href="http://www.swissmedicalseguros.com/" >www.swissmedicalseguros.com</a></p>

<p dir="ltr"><br />
<strong>Life Seguros de Personas y Patrimoniales S.A.&nbsp;</strong><br />
Domicilio legal: Tte. Gral. Juan Domingo Perón 646 - piso 3, C1038AAN, CABA, Argentina. CUIT:30-50005154-6 Nro. De inscripción en SSN 0251.&nbsp;<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: 0-800-222-7500, o 4348-7500 desde Capital Federal y GBA.<br />
Por correo electrónico a la casilla contacto atención.cliente@lifeseguros.com.ar&nbsp; o desde su pág. Web h <a href="https://www.lifeseguros.com.ar/" >https://www.lifeseguros.com.ar</a>.&nbsp;</p>

<p dir="ltr"><br />
<strong>Caja de Seguros S.A.&nbsp;</strong><br />
Domicilio legal: Fitz Roy 957, (C1414CHI) C.A.B.A, Argentina. CUIT: 30-66320562-1 . Nro. de inscripción en SSN: 0501.<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: 0810-555-2252<br />
&nbsp;Por correo electrónico a la casilla contacto: atencionalcliente@lacaja.com.ar &nbsp;o desde su pág. Web <a href="https://seguros.lacaja.com.ar/" >https://seguros.lacaja.com.ar</a></p>

<p dir="ltr"><br />
<strong>Galeno Seguros S.A.</strong><br />
Domicilio legal: Elvira Rawson de Dellepiane 150 1º Piso (C1107DBD) CABA, Argentina. CUIT: 30-66320562-1 Nro. de inscripción en SSN: 0878.<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: 0-800-777-5433<br />
Por correo electrónico a la casilla contacto clientes@galenoseguros.com.ar &nbsp;o desde su pág. Web <a href="https://www.galenoseguros.com/" >https://www.galenoseguros.com</a></p>

<p dir="ltr"><br />
<strong>Cardif Seguros S.A.</strong><br />
Domicilio legal: Bouchard 557 Piso 6, C1106, Buenos Aires, Argentina. CUIT: 30-69321531-1 Nro. de inscripción en SSN 0671.<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: 0800-122-7343.<br />
Por correo electrónico a la casilla contacto atencionalcliente@cardif.com.ar o desde su pág. Web <a href="https://bnpparibascardif.com.ar/" >https://bnpparibascardif.com.ar/</a>.&nbsp;</p>

<p dir="ltr"><strong>Assurant Compañía de Seguros Argentina S.A.&nbsp;</strong><br />
Domicilio legal: Ing. Butty 240, piso 15, C.A.B.A, Argentina. CUIT: 30-50004540-6 Nro. de inscripción en SSN: 0209<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: al 0810-222-0110<br />
Por correo electrónico a la casilla contacto atencionalcliente@assurant.com o desde su pág. Web <a href="https:///" >https://</a> <a href="http://www.assurant.com.ar/" >www.assurant.com.ar</a>.</p>

<p dir="ltr"><strong>Berkley International Seguros S.A &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong><br />
Domicilio legal: Mitre 699 Rosario (2000) Provincia de Santa Fe. &nbsp;CUIT: 30-50003578-8. Nro. de inscripción en SSN 121<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: 0810-555-3031<br />
Por correo electrónico a la casilla ros@berkley.com.ar o desde su pág. Web <a href="https:///" >https://</a> <a href="http://www.berkley.com.ar/" >www.berkley.com.ar</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<p dir="ltr">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><br />
<strong>Prudential Seguros S.A.</strong><br />
Domicilio legal: Av. Leandro N. Alem 855, 5° Piso (1001) Buenos Aires, Argentina<br />
CUIT: 30-69895375-2. Nro. de inscripción en SSN 0694.<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: 0800-666-8400<br />
Por correo electrónico a la casilla contacto atencionalasegurado@prudential.com o desde su pág. Web <a href="https://www.prudentialseguros.com.ar/" >https://www.prudentialseguros.com.ar</a></p>

<p dir="ltr"><strong>&nbsp;Zurich Argentina Compañía de Seguros S.A.</strong><br />
Domicilio legal: Cerrito 1010. C1010AAV Buenos Aires – Argentina CUIT: 30-50004977-0. Nro. de inscripción en SSN &nbsp;0228<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica: 0800-333-9874 / 0810-999-2424<br />
Por correo electrónico a la casilla contacto servicioalcliente@zurich.com &nbsp;o desde su pág. Web <a href="https:///" >https://</a> <a href="http://www.zurich.com.ar/" >www.zurich.com.ar</a><br />
<br />
<strong>Allianz Argentina Compañía de Seguros S.A.</strong><br />
Domicilio legal: Avenida Corrientes 299 CABA CUIT: 30-50003721-7. Nro de Inscripción en SSN 0036<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención telefónica: 4320-9088 / 0810-999-1199.<br />
Por correo electrónico a la casilla miallianz@allianz.com.ar o desde su pág. Web <a href="https:///" >https://</a> <a href="http://www.allianz.com.ar/" >www.allianz.com.ar/</a></p>

<p dir="ltr"><br />
<strong>Sancor Cooperativa de Seguros Limitada.&nbsp;</strong><br />
Domicilio legal: Ruta 34 KM 257-Sunchales &nbsp;CUIT: 30-50004946-0. Nro de Inscripción en SSN 0224.<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención telefónica: 0800-444-2850.<br />
Por correo electrónico a la casilla <a href="https://www.sancorseguros.com.ar/contacto" >https://www.sancorseguros.com.ar/contacto</a> o desde su pág. Web <a href="https:///" >https://</a> <a href="http://www.sancorseguros.com.ar/" >www.sancorseguros.com.ar</a></p>

<p dir="ltr"><br />
<strong>Mapfre Argentina Seguros S.A.</strong><br />
Domicilio legal: Alférez Hipólito Bouchard 4191, (B1605BNA) Munro, Provincia de Buenos Aires CUIT: 30-50000753-9. Nro de Inscripción en SSN 0213<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención telefónica: 0800- 999-7424.<br />
o desde su pág. Web <a href="https://www.mapfre.com.ar/" >https://www.mapfre.com.ar/</a>.</p>

<p dir="ltr"><br />
<strong>Mapfre Argentina Seguros de Vida &nbsp;S.A.</strong><br />
Domicilio legal: Alférez Hipólito Bouchard 4191, (B1605BNA) Munro, Provincia de Buenos Aires CUIT: 33-70089372-9. Nro de Inscripción en SSN 0699<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención telefónica: 0800- 999-7424.<br />
o desde su pág. Web <a href="https://www.mapfre.com.ar/" >https://www.mapfre.com.ar/</a></p>

<p dir="ltr"><br />
<strong>Swiss Medical ART S.A.&nbsp;</strong><br />
Domicilio legal: Avenida Corrientes 1891 CABA CUIT: 33-68626286-9 &nbsp;Nro de Inscripción en SRT 0280&nbsp;<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención telefónica: : 0800-222-7854<br />
Por correo electrónico a la casilla ServiciosAlCliente@smg.com.ar o desde su pág. Web https: //https://www.swissmedical.com.ar/smgnewsite/smgart/&nbsp;</p>

<p dir="ltr"><br />
<strong>Experta ART S.A</strong><br />
Domicilio legal: Av. del Libertador 6902, Piso 12 - CABA. &nbsp;CUIT: 30687156168. Nro. de inscripción en SRT &nbsp;90&nbsp;<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención Telefónica : 0800 777 7278<br />
Por correo electrónico a la casilla clientes@experta.com.ar &nbsp;o desde su pág. Web <a href="https:///" >https://</a> <a href="http://www.experta.com.ar/" >www.experta.com.ar</a> &nbsp;</p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><strong>Río Uruguay Cooperativa &nbsp;de seguros limitada.</strong><br />
Domicilio legal Congreso de Tucumán 21, Concepción del Uruguay, Entre Ríos, Argentina. Cuit: 30-50006171-1 Nro de Inscripción en SSN 0360<br />
Para solicitar copia de póliza y/o comunicarse con atención al cliente puede llamar al Centro de Atención telefónica: 0800 888 7787 &nbsp;<br />
Por correo electrónico a la casilla atencionalasegurado@riouruguay.com.ar &nbsp; o desde su pág. Web <a href="https:///" >https://</a> <a href="http://www.riouruguay.com.ar/" >www.riouruguay.com.ar</a>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr" style="text-align: center;"><img src="https://www.icbc.com.ar/wcm/connect/a5a706d9-df1c-4c39-b290-caa3cf467b4f/1/SSN+(icbc).jpg?MOD=AJPERES&amp;ContentCache=NONE&amp;CACHE=NONE" /></p>
