<p dir="ltr"><strong>CABA - Ley 2.709</strong></p>

<p dir="ltr">Para reclamos y/o consultas en forma personal en el ámbito de la Ciudad Autónoma de Buenos Aires, puede dirigirse a su sucursal todos los días hábiles bancarios en el horario de 10 a 15 horas. Para consultar las direcciones de las sucursales, por favor de ingrese en 'Localizador / Sucursales'. Industrial and Commercial Bank of China (Argentina) S.A.U. - Florida 99 – CABA (Horario de atención en este domicilio de 10 a 16 horas).</p>

<p dir="ltr">Teléfono gratuito CABA: 147 Área de Defensa y Protección al Consumidor.</p>
